*
{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
.body 
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-color: #001a2e; */
    
    /* svg background  */

    background-color: #001a2e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.container 
{
    width: 550px;
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 50px 20px 10px 20px;
}
.container header
{
    font-size: 18px;
    font-weight: 700;
    margin:  0 0 30px 0;
}
.container .form-outer
{
    width: 100%;
    overflow: hidden;
}
.form-outer form 
{
    display: flex;
    width: 400%;
}
.form-outer form .page
{
    width: 25%;    
    transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.form-outer form .page .field
{
    height: 45px;
    width: 480px;
    margin: 20px 0;   
    display: flex;
    position: relative;
}
.form-outer form .page .field .label
{
    position: absolute;
    top: -20px;
    font-weight: 500;
    font-size: 18px;
}
.form-outer form .page .field input
{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 35px;
    font-size: 18px;
    padding-left: 15px;
}
.form-outer form .page .field select
{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

.form-outer form .page .field button
{
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background-color: #aa00aa;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}
.form-outer form .page .field button:hover
{
    transform: scale(1.1);
}
.form-outer form .page .btns button
{
    margin-top: -20px !important;

}
form .page .btns button.prev
{
    margin-right: 3px;
    font-size: 17px;
}
form .page .btns button.next
{
    margin-right: 3px;
    font-size: 17px;
}
.container .progress-bar
{
    display: flex;
    margin: 15px 0;
}
.container .progress-bar .step
{
    position: relative;
    text-align: center;
    width: 100%;

}
.progress-bar .step p{
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 8px;
    transition: 0.2s;
}
.progress-bar .step p.active 
{
   color: #aa00aa;

}

.progress-bar .step .bullet
{
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 50%;
    transition: 0.2s;

}
.progress-bar .step .bullet.active
{
    border-color: #aa00aa;
    background: #aa00aa;

}
.progress-bar .step:last-child .bullet::before,
.progress-bar .step:last-child .bullet::after
{
    display: none;
}
.progress-bar .step .bullet::before,
.progress-bar .step .bullet::after{
    position: absolute;
    content: '';
    bottom: 11px;
    right: -103px;
    height: 3px;
    width: 100px;
    background: #262626;
}
.progress-bar .step .bullet.active::after
{
    background: #aa00aa;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
@keyframes animate
{
    100%
    {
        transform: scaleX(1);
    }

}
.progress-bar .step .bullet span{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar .step .bullet.active span
{
    display: none;
}
.progress-bar .step .check
{
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%,-50%);
    display: none;
}
.progress-bar .step .check.active
{
    display: block;
    color: white;
}

.img-preview
{
    max-width:200px;
    margin: auto;
}
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
}
  
.closebtn
{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover
{
    color: black;
}

.form-title
{
    border: 2.5px solid #aa00aa;
    border-radius: 10px;
}
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: #aa00aa;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #aa00aa;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }