body
{
    margin: 0;
    padding: 0;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../img/contratos/ballon.jpg)no-repeat;
    background-size: cover;


}
.container
{
    display: grid;
    height: 100vh;
    grid-template-columns: 1.5fr 0fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "preview main-form";
}
#preview
{
    grid-area: preview;
    background-color: white;
    margin: 35px;
    padding: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
#preview h1
{
    text-align: center;
}
#preview strong
{
    color: red;
}
#preview p 
{
    font-size: 18px;
}
#main-form
{
    grid-area: main-form;
}
#main-form .box    
{
    height: 100vh;
    width: 350px;
    padding: 35px;
    background:#3358fe;
    text-align: center;
    border-radius: 20px;
}
#main-form .box h1 
{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid #ff0000;
    border-radius: 24px;
    padding: 12px 10px;
    outline: none;
    margin-bottom: 20px;
}
#main-form .box input[type="date"], .box input[type="text"], .box input[type="number"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #85fee8;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    color: white;
    margin-top: 2px;
}
#main-form .box input[type="date"]:focus, .box input[type="text"]:focus, .box input[type="number"]:focus
{
    width: 215px;
    border-color: #019a7e;
}
#main-form .box input[type="date"]::placeholder, .box input[type="text"]::placeholder, .box input[type="number"]::placeholder
{
    color: white;
    opacity: 1;
    font-size: 11px;
}

#main-form .box input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #d933fe;
    padding: 14px 5px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    color: white;
    opacity: 1;
}
#main-form .box input[type="submit"]:hover
{
    background: #d933fe;
}
#main-form h2{
    color: white;
    font-weight: 700;
    font-size: 15px;
}
#main-form p
{
    color: white;
    font-weight: 700;
    font-size: 13px;
    padding: 0px 10px;
    margin: 0px auto;
}