
body
{
    background-color: #001a2e;
}

.main-section
{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "table preview";
}
.container
{
    position: sticky;
    top: 10px;
    margin: 10px;
    padding: 15px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.preview
{
    background-color: white;
    margin: 10px;
    padding: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.table-title
{
    height: 50px;
    text-align: center;
}
.table-title hr
{
    border: 2.5px solid #ff9900  ;
}
.table tr
{
    background-color:#ffb800;
}
.table th:hover
{
    background-color: #ff9900;
}
.table tr a:hover
{
    background: none;
}
.sorting_asc 
{
    background-color:#ff9900;
}
.sorting_desc
{
    background-color:#ff9900;
}

.titulo-contrato {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
.titulo-contrato h2
{
    text-align: center;
    font-size: 28px;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #0cb800;
  width: 0%;
}
.tooltip
{
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 9999;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
  
  /* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.loader3 {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.wrapper {
    position: relative;
    background-color: white;
}
.centeredOverlay {
    position: absolute;
    background-color: rgb(0, 0, 0);
    /*dim the background*/
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:black;
    text-align: center;
}

.centeredOverlay .loader3 {
    position: absolute;
    top:5%;
    left:42%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}
.cargando
{
    color: white;
}
.elige-contrato
{
    width: 60%;
    margin: 0 auto;
}
