<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-witdth, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Inicio</title>
    <script src="https://kit.fontawesome.com/18e40e3396.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../static/img/blog.ico">
    <link rel="stylesheet" href="../static/css/iniciob.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <a href="../templates/iniciob.html"><h1>Dream<b>Team</b></h1></a>
            </div>
            <div class="menu" id="show-menu">
                <nav>
                    <ul>
                        <li class="menu-selected"><a href="#" class="text-menu-selected"><i class="fas fa-home"></i>Inicio</a></li>
                        <li><a href="#"><i class="fas fa-calendar-alt"></i>¡Reserva Ya!</a></li>
                        <li><a href="http://encuesta-cs.herokuapp.com/blog"><i class="fas fa-file-alt"></i>Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="container-all" id="move-content">
        <section class="banner">
            <div class="banner-content">
                <h1>Momentos Inolvidables</h1>
                <a href="http://encuesta-cs.herokuapp.com/blog">Ver Comentarios</a>
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../static/js/inicioblog.js"></script>
</body>
</html>