<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/p.css">
  </head>
  <body>
    <form action="/recupera" method="POST"> 
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="correo"  placeholder="Correo" required>
          </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   

    
    
  </body>
</html>