<meta charset="UTF-8">
            <h1>CONTRATO DE PRESTACIÓN DE SERVICIOS DE EVENTOS SOCIALES</h1> 
                <h2> Tipo de evento: <strong> {{evento}} </strong> Correo del cliente <strong>{{correo}}</strong> </h2>
                <!-- <h2> Prueba: {{location}} - {{date}} - {{Nombre}} - {{Nombre2}} - {{curp_conyuge1}} - {{curp_conyuge2}} - {{domicilio2}} - {{filename}} - {{filename2}} - {{filename3}} - {{evento}} - {{correo}} </h2> -->
            <p>QUE CELEBRAN POR UNA PARTE PROVEEDOR REPRESENTADA POR W&P A QUIEN EN LO SUCESIVO SE LE DENOMINARA “EL PRESTADOR DEL SERVICIO”, <br>
                Y POR LA OTRA 
                <br>
                <strong id="primer-conyugue">{{Nombre}}</strong>
                <br>
                A  QUIEN  EN  LO  SUCESIVO  SE  LE DENOMINARA “EL CONSUMIDOR” 
                <br> AL TENOR DE LAS SIGUIENTES DECLARACIONES Y CLÁUSULAS:</p>
            <h2> I.	Declara “EL PRESTADOR DEL SERVICIO”: </h2> 
            <p> A)	Que su domicilio se encuentra ubicado en la Ciudad de México con número telefónico 5560933305.
                <br>B)	Que cuenta con la capacidad, infraestructura, servicios y recursos necesarios para dar cabal cumplimiento a las obligaciones contenidas en el presente contrato.</br>
                <br>C)	Que   cuenta   con   personal   capacitado   y   responsable   para   atender   las   quejas   y reclamaciones que se originen de la prestación del servicio o del bien adquirido, para lo cual se señala el teléfono 5560933305, con un horario de atención al público de las 9:00 horas a las 16:00 horas, los días lunes a viernes.</br>
            </p>
            <h2> II. DECLARA “EL CONSUMIDOR”: </h2> 
            <p> A)	Llamarse como ha quedado plasmado en el proemio de este contrato.
                <br>B)	Que es su deseo obligarse en los términos y condiciones del presente contrato, manifestando que cuenta con la capacidad legal para la celebración de este contrato.</br>
                <br>C)	Que su domicilio se encuentra ubicado en 
                <br>
                <strong id="domicilio">{{domicilio2}}</strong> <br>
                y estar inscrito en el Registro de Población bajo el CURP <strong id="curp1" >{{curp_conyuge1}}</strong> 
            </p> 
            <h2> CLAUSULAS </h2>
            <p> <strong>PRIMERA.</strong> El objeto del presente contrato es la prestación de servicios para celebración de una <strong> {{evento}} </strong> donde <strong id="Nombre">{{Nombre}} </strong> <br>
                SERÁ el representante legal y responsable del evento
                <br> el cual se llevará a cabo el día <strong id="date">{{date}}</strong>, en el salón <strong id="lugar" >{{location}}</strong>.
                <br>EL PRESTADOR DEL SERVICIO podrá cobrar una cantidad adicional, debidamente prevista en el presupuesto, en el caso de que el evento prolongue su duración y/o el número de invitados exceda del estipulado.</br>
            </p>
            <p> <strong>SEGUNDA.</strong> Independientemente de la entrega del anticipo, EL PRESTADOR DEL SERVICIO deberá entregar a EL CONSUMIDOR la factura o comprobante que ampare el pago de los servicios contratados, en la que se hará constar detalladamente el nombre y precio de cada uno de los servicios proporcionados, esto con la finalidad de que EL CONSUMIDOR pueda verificarlos en detalle. </p>
            <p> <strong>TERCERA.</strong> EL CONSUMIDOR se obliga a depositar una cantidad equivalente al 10% del precio estipulado para garantizar el pago de servicios excedentes, imprevistos, o daños o perjuicios en su caso. Dicho depósito será devuelto al CONSUMIDOR si al finalizar el evento no se verifico ninguno de esos supuestos. </p>
            <p> <strong>CUARTA.</strong> EL CONSUMIDOR se obliga a depositar una cantidad equivalente al 10% del precio estipulado para garantizar el pago de servicios excedentes, imprevistos, o daños o perjuicios en su caso. Dicho depósito será devuelto al CONSUMIDOR si al finalizar el evento no se verifico ninguno de esos supuestos. </p>
            <p> <strong>QUINTA.</strong> EL CONSUMIDOR cuenta con un plazo de cinco días hábiles posteriores a la firma del presente contrato para cancelar la operación sin responsabilidad alguna de su parte, en cuyo caso EL PRESTADOR DEL SERVICIO se obliga a reintegrar todas las cantidades que EL CONSUMIDOR le haya entregado. 
                Si la cancelación se realiza después de los cinco días hábiles antes señalados, EL CONSUMIDOR deberá indemnizar a EL PRESTADOR DEL SERVICIO por los gastos comprobables hasta por un 20% del precio total de la operación que hubiese realizado en ejecución de la prestación del servicio. 
            </p>
            <p> <strong>SEXTA.</strong> EL CONSUMIDOR se obliga a cumplir con las disposiciones reglamentarias que rijan el inmueble y a procurar que los asistentes al evento observen la misma conducta. Para tal efecto EL PRESTADOR DEL SERVICIO entregará a la firma del presente contrato a EL CONSUMIDOR una copia del reglamento respectivo en donde se fijen las disposiciones reglamentarias. </p>
            <p> <strong>SEPTIMA.</strong> En caso de que EL PRESTADOR DEL SERVICIO incurra en incumplimiento del presente contrato por causas imputables a él se obliga a elección de EL CONSUMIDOR:
                <br>A)	A contratar por su cuenta a otra empresa que este en posibilidades de realizar la prestación del servicio en las condiciones estipuladas por EL CONSUMIDOR. El costo adicional, que en su caso, se genere será absorbido por EL PRESTADOR DEL SERVICIO, o bien</br>
                <br>B)	A reintentar las cantidades que se le hubieren entregado y a pagar una pena convencional del 20% del precio total del servicio.</br>
            </p>
            <p> <strong>OCTAVA.</strong> El servicio de resguardo de objetos personales, será gratuito para los asistentes del evento, EL PRESTADOR DEL SERVICIO se obliga a recibir dichos objetos o bienes y a entregarlos cuando los asistentes se los soliciten previa entrega de la contraseña correspondiente.

                EL PRESTADOR DEL SERVICIO responderá por la pérdida, menoscabo o daño que por su malicia o negligencia sufrieren las cosas depositadas. En estos casos se indemnizará a EL CONSUMIDOR o a sus invitados de la siguiente manera:
                
                <br>A)	En caso de daño parcial, hasta con un 50% del valor del objeto que su dueño pueda demostrar fehacientemente o que las partes establezcan de común acuerdo.</br>
                <br>B)	En caso de daño total que hicieran inservible el bien depositado, EL PRESTADOR DEL SERVICIO se obliga a entregar a su dueño un bien de la misma especie y calidad o a indemnizarlo hasta con un 100% del valor del objeto que su dueño pueda demostrar fehacientemente, o conforme al monto que las partes de común acuerdo establezcan.</br>
                <br>C)	En caso de robo o pérdida del bien depositado, EL PRESTADOR DEL SERVICIO indemnizará a su dueño con una cantidad equivalente al 100% del valor del bien de que se trate o conforme al monto que las partes de común acuerdo establezcan.</br>
            </p>
            <p> <strong>NOVENA.</strong> Las partes podrán acordar que EL CONSUMIDOR, contrate libremente servicios específicos relacionados con el evento social con otros prestadores de servicios por así convenir a sus intereses, por lo que en caso de actualizarse dicho supuesto EL CONSUMIDOR exime de toda responsabilidad a EL PRESTADOR DEL SERVICIO en lo que respecta a dichos servicios en específico. </p>
            <p> <strong>DECIMA.</strong> La Procuraduría Federal del Consumidor es competente en la vía administrativa para resolver cualquier controversia que se suscite sobre la interpretación o cumplimiento del presente contrato. Sin prejuicio de lo anterior, las partes se someten a la jurisdicción que pudiera corresponderles, por razón de sus domicilios presentes o futuros o por cualquier otra razón. </p>
            <p> Leído que fue por las partes el contenido del contrato y sabedoras de su alcance legal, lo firman:  </p>
            <h3> <strong id="firma-conyugue1">{{Nombre}}</strong> _________FIRMA DEL “EL CONSUMIDOR”   </h3>
                        <h1>Foto del INE: </h1>            
                        <img src="http://127.0.0.1:5000/static/upload/img/{{foto_ine}}" width="600px" alt="">
                        <div style="height: 300px;" > </div>
                        <h1>Foto de su comprobante de domicilio:</h1>
                        <img src="http://127.0.0.1:5000/static/upload/img/{{foto_domicilio}}" width="600px" alt="">
            <style> strong{color: red; font-size: 28px;} p {font-size: 18px;} html {font-family: Arial, Helvetica, sans-serif;} html {text-align: justify;} </style>