<!doctype html>
<html lang="es">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0,maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/p.css">
  </head>
  <body>
    <form class="formulario" action="/cambiar" method="POST"> 
      <h1></h1>Registrate</h1>
        <div class="contenedor">
          <div class="input-contenedor">
            <input type="email" class="form-control" name="correo"  placeholder="Correo" required>
          </div>
          <div class="input-contenedor">
            <input  type="text" class="form-control" name="codigo"  placeholder="Código" required>
          </div>
          <div class="input-contenedor">
            <input  type="password" class="form-control" name="contra"  placeholder="Contraseña" required>
          </div>
          <div class="input-contenedor">
            <input type="password" class="form-control" name="contra1"  placeholder="Confirma Contraseña" required>
          </div>
          <button class ="btn" type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
      
  
  </body>
</html>